.dashboard-container {
  padding: 1rem;
  color: white;
}

.dashboard-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.alert-box {
 background-color: #7f1d1d;       /* Yellow */
  color: #1f2937;                  /* Dark text */
  padding: 0.5rem 1rem;
  border-left: 5px solid #ca8a04;  /* Darker yellow border */
  border-radius: 6px;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  max-width: 400px;                /* LIMIT WIDTH */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.alert-box ul {
  padding-left: 1rem;
  list-style: square;
}

.alert-item {
  font-weight: bold;
  color: #facc15;
}

.quick-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.btn-link {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: background 0.3s;
}

.manager {
  background-color: #10b981;
}

.cashier {
  background-color: #3b82f6;
}

.btn-link:hover {
  opacity: 0.85;
}

.summary-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card {
  flex: 1;
  min-width: 150px;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.green {
  background-color: #065f46;
}

.blue {
  background-color: #1e3a8a;
}

.yellow {
  background-color: #92400e;
}

.red {
  background-color: #991b1b;
}

.revenue-chart {
  margin-top: 2rem;
}
