body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background-image: url('../Assets/lbody.svg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}


.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.left-panel {
  flex: 1;
  background-color: #066b8a;
  background-image: url('../Assets/t1.jpg'); /* Replace with your actual image path */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
}

.left-panel img.login-image {
  max-width: 300px;
  margin-top: 20px;
}

.right-panel {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.input-box input {
  border: none;
  flex: 1;
  padding: 8px;
  outline: none;
}

.toggle-password {
  cursor: pointer;
  margin-left: 10px;
}

.role-selector {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.role-selector button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #0077cc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.active-role {
  background-color: #0077cc;
  color: white;
}

.remember-me {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
  color: #0077cc;
  cursor: pointer;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}
.login-footer a {
  color: #0077cc;
  text-decoration: none;
}
.login-footer a:hover {
  text-decoration: underline;
}
